:host{
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

.box {
    position: fixed;
    padding: 0.5em;
    max-width: 20em;
    color: #444444;
    background-color: white;
    border: 1px solid #e0e0e0;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 0 0;
    /*box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);*/
}