body {
    padding-top: 70px;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

#export-row {
    padding-top: 20px;
}

#download-btn {
    margin: 20px 0;
}

#preview-box {
    width:100%;
    height:500px;
    border:0;
    margin-top:20px;
    overflow-x:scroll;
    border: 1px solid black;
}

#preview {
    width:100%;
    height:98%;
}