<div class="app">
  <div class="header">
    <h1>
      Musicbox Editor
    </h1>

    <sub-menu class="main-menu" [options]="mainMenuOptions"></sub-menu>

  </div>
    <div class="menu-view">
      <label>
        <h4>Project name:</h4> 
        <input type="text" [(ngModel)]="projectName">
      </label>
      <label>
        <h4>Actions:</h4> 
        <!--button (click)="onClickSaveProject()">Save Project</button-->
        <button (click)="onClickImportMidi()">Import Midi</button>
        <button (click)="onClickDownload()">Download as SVG</button>
      </label>
      <label>
        <h4>Note amount:</h4> 
        <input type="number" [ngModel]="numNotes" (ngModelChange)="onChangeNumNotes($event)">
      </label>
      
      <label>
        <h4>Scale Type:</h4> 
        <select [ngModel]="scaleType"  (ngModelChange)="onChangeScaleType($event)">
          <option *ngFor="let st of scaleTypeOptions" [ngValue]="st">{{st}}</option>
        </select>
      </label>
      <label>
        <h4>Scale start: (MIDI-id)</h4> 
        <input type="number" [ngModel]="scaleStart"  (ngModelChange)="onChangeStartNote($event)">
      </label>
      <label>
        <h4>Note distance:</h4> 
        <input type="number" [ngModel]="noteDistance"  (ngModelChange)="onChangeNoteDistance($event)">
      </label>
      
      <label>
        <h4>Note type:</h4> 
        <select [(ngModel)]="selectedNoteType">
          <option *ngFor="let nt of noteTypes" [ngValue]="nt">{{nt}}</option>
        </select>
      </label>
      <label>
        <h4>Note width:</h4> 
        <input type="number" [ngModel]="noteWidth"  (ngModelChange)="onChangeNoteWidth($event)">
      </label>
      <label>
        <h4>Note height:</h4> 
        <input type="number" [ngModel]="noteHeight"  (ngModelChange)="onChangeNoteHeight($event)">
      </label>


      <label>
        <h4>Track length:</h4> 
        <input type="number" [ngModel]="trackLength"  (ngModelChange)="onChangeTrackLength($event)">
      </label>
      <label>
        <h4>Track part length:</h4> 
        <input type="number" [ngModel]="trackPartLength"  (ngModelChange)="onChangeTrackPartLength($event)">
      </label>
      <label>
        <h4>Track padding:</h4> 
        <input type="number" [ngModel]="trackPadding"  (ngModelChange)="onChangeTrackPadding($event)">
      </label>

      <label>
        <h4>Track start:</h4> 
        <input type="number" [(ngModel)]="trackStart" >
      </label>

      <label>
        <h4>Track shift:</h4> 
        <input type="number" [(ngModel)]="trackShift" >
      </label>
      <label>
      </label>
      <label>
      </label>
    </div>

    <div class="track-view">
      <svg class="notes" [attr.width]="getScaleWidth()" [attr.height]="getScaleHeight()" [attr.viewBox]="getScaleViewBox()">
        <text class="note" *ngFor="let ns of noteScale" (click)="onClickScale($event, ns)" style="font-size: 1mm; vertical-align: middle;" text-anchor="start" x="2" [attr.y]="getTextY(ns)" [textContent]="midiToNote(ns)"></text>
      </svg>  
      <div class="track">
        <svg id="musicbox-svg" *ngIf="showTrack()" [attr.width]="getTrackWidth()" [attr.height]="getTrackHeight()" [attr.viewBox]="getTrackViewBox()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
          <!--Guide Lines-->
          <g id="note-lines-group">
            <line *ngFor="let n of noteScale" [attr.stroke]="getNoteLineColor(n)" stroke-width="0.5" x1="0" [attr.y1]="getNoteLineY(n)" [attr.x2]="getNoteLineLength()" [attr.y2]="getNoteLineY(n)"/>
          </g>
          <g id="note-vertical-lines">
            <line *ngFor="let i of verticalLines" stroke="#666" stroke-width="0.5" stroke-dashoffset="0.75" [attr.stroke-dasharray]="getVerticalLineBorder(i)" [attr.x1]="getVerticalLineX(i)" [attr.y1]="getVerticalLineY1()" [attr.x2]="getVerticalLineX(i)" [attr.y2]="getVerticalLineY2()"/>
          </g>
          
          <!--Notes-->
          <template [ngIf]="isCircleNoteType()">
            <ellipse *ngFor="let n of notes" [hint]="getHint(n)" (contextmenu)="onClickContextMenu($event, n)" [attr.fill]="getNoteFillColor(n)" stroke="#000" stroke-width="0.5" [attr.cx]="getNoteX(n)" [attr.cy]="getNoteY(n)" [attr.rx]="getNoteWidth()" [attr.ry]="getNoteHeight()" />
          </template>
          <template [ngIf]="!isCircleNoteType()">
            <rect *ngFor="let n of notes" [hint]="getHint(n)" (contextmenu)="onClickContextMenu($event, n)" [attr.fill]="getNoteFillColor(n)" stroke="#000" stroke-width="0.5" [attr.x]="getNoteX(n)" [attr.y]="getNoteY(n)" [attr.width]="getNoteWidth()" [attr.height]="getNoteHeight()" />
          </template>

          <!--Paper-->
          <path *ngFor="let tp of trackParts" stroke="#666" fill="none" stroke-width="0.5" [attr.d]="getTrackPartPath(tp)"/>
          <g id="track-part-divider">
            <path *ngFor="let tp of trackParts" stroke="red" fill="none" stroke-width="0.5" [attr.d]="getTrackPartPathDivider(tp)"/>
          </g>
          <text style="font-size: 1mm" *ngFor="let i of trackParts" text-anchor="middle" [attr.x]="getTrackIdX(i)" [attr.y]="getTrackIdY(i)" [textContent]="getTrackId(i)"></text>
        </svg>
      </div>
    </div>
</div>

<dialog-renderer></dialog-renderer>>
<hint-renderer></hint-renderer>
<context-menu-renderer></context-menu-renderer>