body {
    font-family: Arial, sans-serif;
}

#device {
    position: relative;
    width: 610px;
    min-height: 400px;
}

#device-controls {
    position: relative;
    border: 1px solid darkgray;
    padding-bottom: 10px;
}

#device-header {
    position: relative;
    height: 50px;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 580px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 50px;
}

#device-id-label {
    position: absolute;
    top: 10px;
    left: 200px;
    width: 50px;
}

#device-id-label input {
    width: 50px;
}

#device-name-label {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

#device-description-label {
    position: absolute;
    top: 55px;
    left: 10px;
    width: 450px;
}

#device-description-label input {
    width: 450px;
}

#device-select-label {
    position: absolute;
    top: 10px;
    left: 300px;
    width: 160px;
}

#device-select-label select {
    margin-top: 2px;
    width: 160px;
}

#device-channels-header {
    position: relative;
    height: 20px;
    margin-left: 5px;
    font-size: 14px;
    padding-bottom: 5px;
}

#device-channels-header p {
    margin: 0;
    padding: 0;
}

#device-channels {
    position: relative;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 580px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
}

#channel-columns {
    position: relative;
    padding-left: 10px;
    width: 520px;
    height: 20px;
}

.device-channel {
    width: 580px;
    height: 20px;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 0;

}

.channel-notenumber, .channel-notename, .channel-description, .channel-offset, .channel-height, .channel-shape {
    margin-top: 0;
    margin-bottom: 0;
    display: inline-block;
}

.channel-notenumber {
    width: 80px;
}

.channel-notename {
    width: 100px;
}

.channel-description {
    width: 200px;
}

.channel-offset {
    width: 50px;
}

.channel-height {
    width: 50px;
}

.channel-shape {
    width: 50px;
}

.channel-shape-select {
    width: 50px;
}

#channels-footer {
    height: 20px;
    margin-top: 5px;
    padding-left: 5px;
}

#device-dimensions {
    position: relative;
    border: 1px solid darkgray;
    border-radius: 10px;
    width: 580px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    font-size: 12px;
    padding-bottom: 10px;
}

.margin-label {
    width: 50px;
}

.margin-label input {
    width: 50px;
}

#strip-preview {
    position: relative;
    padding: 3px;
    width: 520px;
    height: 255px;
    margin-left: 20px;
    margin-bottom: 15px;

}

#strip-rect {
    position: absolute;
    top: 30px;
    left: 70px;
    border: 1px solid black;
    width: 400px;
    height: 200px;
}

#device-strip-top-padding-label {
    position: absolute;
    top: 5px;
    left: 140px;
    width: 200px;
    height: 50px;
}

#device-strip-right-padding-label {
    position: absolute;
    top: 100px;
    left: 480px;
    width: 60px;
    height: 50px;
}

#device-strip-bottom-padding-label {
    position: absolute;
    top: 235px;
    left: 140px;
    width: 200px;
    height: 50px;
}

#device-strip-left-padding-label {
    position: absolute;
    top: 100px;
    left: 5px;
    width: 60px;
    height: 50px;
}

#show-rounded-label {
    position: absolute;
    top: 2px;
    left: 430px;
    width: 120px;
    height: 20px;
}

#hole-settings {
    position: relative;
    width: 580px;
    margin-top: 0;
    margin-left: 10px;
    padding-top: 0;
    padding-left: 30px;
}

#hole-settings label {
    display: inline-block;
    width: 110px;
    margin-bottom: 10px;
    margin-left: 10px;
    height: 40px;
}

#hole-settings label input {
    width: 80px;
}
