:host{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
}

:host>*{
    pointer-events: initial;
}

:host *{
    user-select: none;
    cursor: default;
    box-sizing: border-box;
}

.context-menu{
    position: fixed;
    padding: 0.5em 0;
    border: 1px solid #444444;
    background-color: #ffffff;
    overflow-y: auto;
}

.element{
    padding: 0.25em 0.5em;
}

.element:hover{
    background-color: rgba(0, 0, 0, 0.1);
}